<ion-header>
  <ion-toolbar>
    <ion-title>{{ task ? 'Edit Task' : 'Add Task' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="saveTask()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="getError('name')">{{ getError('name') }}</ion-text>

      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
      <ion-text color="danger" *ngIf="getError('description')">{{ getError('description') }}</ion-text>

      <ion-item>
        <ion-label position="stacked">Due date</ion-label>
        <ion-datetime formControlName="due_date"></ion-datetime>
      </ion-item>
      <ion-text color="danger" *ngIf="getError('due_date')">{{ getError('due_date') }}</ion-text>

      <ion-item>
        <ion-select formControlName="category_id" label="Category">
          <ion-select-option *ngFor="let c of categories" [value]="c.id">{{ c.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select formControlName="status" label="Status">
          <ion-select-option value="Not started">Not started</ion-select-option>
          <ion-select-option value="Active">Active</ion-select-option>
          <ion-select-option value="Finished">Finished</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select formControlName="priority" label="Priority">
          <ion-select-option value="low">Low</ion-select-option>
          <ion-select-option value="medium">Medium</ion-select-option>
          <ion-select-option value="high">High</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button class="ion-margin-top" expand="block" shape="round" type="submit">{{ task ? 'Save Changes' : 'Add Task' }}</ion-button>
  </form>
</ion-content>