<ion-header>
  <ion-toolbar>
    <ion-title>{{ task ? 'Edit Task' : 'Add Task' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="form.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea [(ngModel)]="form.description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Due date</ion-label>
      <ion-datetime [(ngModel)]="form.due_date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="form.category_id">
        <ion-select-option *ngFor="let c of categories" [value]="c.id">{{ c.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Status</ion-label>
      <ion-select [(ngModel)]="form.status">
        <ion-select-option value="Not started">Not started</ion-select-option>
        <ion-select-option value="Active">Active</ion-select-option>
        <ion-select-option value="Finished">Finished</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Priority</ion-label>
      <ion-select [(ngModel)]="form.priority">
        <ion-select-option value="low">Low</ion-select-option>
        <ion-select-option value="medium">Medium</ion-select-option>
        <ion-select-option value="high">High</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-button expand="full" (click)="saveTask()">{{ task ? 'Save Changes' : 'Add Task' }}</ion-button>
  </ion-footer>
</ion-content>