<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let category of categories">
      <ion-label>{{ category.name }}</ion-label>
      <ion-button fill="clear" color="danger" slot="end" (click)="deleteCategory(category.id)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-input
      [(ngModel)]="newCategoryName"
      placeholder="New category name">
    </ion-input>
    <ion-button (click)="addCategory()">Add</ion-button>
  </ion-item>
</ion-content>