<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button defaultHref="tasks"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <ion-spinner *ngIf="loading"></ion-spinner>

  <div *ngIf="!loading">
    <form [formGroup]="form" (ngSubmit)="save()">
      <ion-item>
        <ion-label position="stacked">First name</ion-label>
        <ion-input errorText="{{ getError('first_name') }}" formControlName="first_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Last name</ion-label>
        <ion-input errorText="{{ getError('last_name') }}" formControlName="last_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input errorText="{{ getError('username') }}" formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input errorText="{{ getError('email') }}" type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-button class="ion-margin-top" expand="block" shape="round" type="submit">
        {{ isSubmitting ? 'Saving...' : 'Save' }}
      </ion-button>
    </form>

    <ion-button color="danger" shape="round" expand="block" (click)="delete()">Delete account</ion-button>
  </div>

  <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
</ion-content>



