<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col sizeSm="8" offsetSm="2">
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          </ion-col>
      </ion-row>
          <ion-row>
            <ion-col size="8" offset="2">
              <ion-button class="ion-margin-top" type="submit" expand="block" shape="round">
                {{ isSubmitting ? 'Logging in...' : 'Login' }}
              </ion-button>

              <ion-text color="danger" *ngIf="errorMessage">
                {{ errorMessage }}
              </ion-text>
            </ion-col>
          </ion-row>
    </ion-grid>
  </form>
</ion-content>
